---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Navigation from "@/components/global/Navigation.astro";
import Footer from "@/components/global/Footer.astro";

const seo = {
  title: "Legal Industry AI Solutions",
  description: "Specialized AI consulting and digital transformation for law firms and legal enterprises.",
  type: "website" as const,
};
---

<html lang="en" class="scroll-smooth">
  <head>
    <title>{seo.title}</title>
    <meta name="description" content={seo.description} />
  </head>
  <body class="flex flex-col bg-white min-h-dvh">
    <Navigation variant="transparent" />

    <main class="grow"></main>

    <Footer />
  </body>
</html>
