---
// Assets
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Kicker from "@/components/fundations/elements/Kicker.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
---

<section>
  <Wrapper variant="standard" class="pt-12">
    <div class="max-w-2xl">
      <Text
        tag="h1"
        variant="displayLG"
        class="text-base-900 text-balance font-medium tracking-tight mt-8 font-display"
      >
        From Agency to Agentic Workflows
      </Text>
      <Text
        tag="p"
        variant="textBase"
        class="text-base-600 lg:text-balance mt-4"
      >
Building smarter businesses with automation and AI      </Text>
    </div>
  </Wrapper>
  <Wrapper variant="paddingLess" class="pt-12">
    <video
      src="https://images.madavi.co/videos/Madavi%20Site%20Reel%202023.mp4"
      autoplay
      muted
      loop
      playsinline
      class="w-full max-h-150 object-cover object-top"
    />
  </Wrapper>
</section>
