---
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
// Icons
import ArrowRight from "@/components/fundations/icons/ArrowRight.astro";
// Entries
import BlogCard5 from "@/components/blog/landing/BlogCard5.astro";
import BlogCard4 from "@/components/blog/landing/BlogCard4.astro";
// Data
import { getPostsByCategory } from "@/lib/data";
const allPosts = await getPostsByCategory("growth-marketing");
---

<div class="">
  <Text
    tag="a"
    variant="textXS"
    href="/blog/cat/growth-marketing"
    class="flex gap-x-2 text-base-900 justify-between uppercase font-medium"
  >
    Growth Marketing<span
      class="text-base-600 hover:text-base-900 flex items-center gap-2 normal-case"
      >More stories <ArrowRight class="size-4" /></span
    >
  </Text>
  <div
    class="grid grid-cols-1 lg:grid-cols-3 gap-8 relative before:absolute after:absolute before:bg-base-950 after:bg-base-950/10 before:top-0 before:left-0 before:h-px before:w-6 after:top-0 after:right-0 after:left-8 after:h-px pt-4 mt-2"
  >
    <div class="lg:col-span-2">
      {
        allPosts.slice(0, 1).map((post) => <BlogCard4 post={post} />)
      }
    </div>
    <div class="mt-2 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-1 gap-4">
      {
        allPosts.slice(1, 4).map((post) => <BlogCard5 post={post} />)
      }
    </div>
  </div>
</div>
